.bigContainerDetail {
  background-color: #f7f3f0;
  margin: 0 auto;
  margin-top: 3em;
  max-width: 75em;
  border-radius: 2em;
}

.bigContainerDetail header{
  display: flex;
  padding: 2.5em;
  justify-content: space-between;
}

.priceDiv{
  background-color: #CD5A3E;
  border-radius: 0.5em;
  color: white;
  font-weight: 700;
  font-size: .7em;
  padding: 9px;
}


.tittleD{
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  display: inline;
}

.location {
  font-weight: 900;
  font-size: .7em;
  text-align: start;
}

.locationTwo{
  color: gray;
  font-size: .6em;
  font-weight: 400;
  text-align: start;
}

.firstHr{
  margin: 1rem 0;
}

.imageCarrousel{
  width: 90%;
  height: 90%;
}

.falseLineOne{
    height: 1px;
    background-color: #e9d4c391;
    width: 90%;
    margin: auto;
    margin-top: 0.1rem;
    margin-bottom: 1.5em;
    border-radius: 1em;
  
}
.falseLine{
  height: 1px;
  background-color: #e9d4c391;
  width: 90%;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 4em;
  border-radius: 1em;
}

.overviewRating{
  width: 80%;
  margin: auto;
  background-color: #EADCCF;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  height: 15em;
}

.overviewBox p {
  margin: 0 0.4rem;
}

.roomsService{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  list-style-type:circle;

}

.roomsService section{
  width: 35%;
  background-color: #EADCCF;
  margin: 2em;
  border-radius: 1em;
  height: 25em;
}

.roomsService h3{
  font-size: 2.1em;
  margin-top: 1em;
}

.roomsD li{
  margin-top: 1.1em;
  font-size: 1.6em;
  text-align: start;

}

.roomsD img{
  width: 30px;
}

.servicesD {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.servicesD li{
  font-size: 1.2em;
  text-align: start;
  margin-bottom: 2px;
  list-style-type:circle

}

.twoColumns {
  column-count: 2;
}



.imageRelative{
  position: relative;
  height: 500px;
}
.prevButton{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15em;
  left: 10em;
  border: none;
  background-color: #CD5A3E;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  color: pink;
}
.prevButton img{
  width: 20px;

}

.nextButton{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 10em;
  top: 15em;
  border: none;
  background-color: #CD5A3E;
  color: white;
  cursor: pointer;
}

.nextButton img{
  width: 20px;
}

.bigContainerDetail header p{
  font-size: 16px;
}

.bigContainerDetail header p:hover{
  color: #CD5A3E;
  cursor: pointer;
}


.reviewBigBox{
  min-height: 11em;
  width: 85%;
  margin: auto;
  background-color: #EADCCF;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 5rem;
  padding: 1em 2em;
}

.reviewBox .priceDiv{
  background-color: #CD5A3E;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.7em;
  cursor: pointer;
  padding: 9px;
  margin: 0.6em 1em;
  height: 1.4em;
  width: 10em;
  text-align: center;
}

.reservationDays{
  border: none;
  height: 2em;
  width: 6em;
  text-align: center;
  border-radius: 1em;
}

.otroBoton{
  border: none;
  border-radius: 5px;
  background-color: #CD5A3E;
  height: 2.3em;
  margin: 1em;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.otroBoton:hover{
  color: #CD5A3E;
  background-color: white;
}

a{
  text-decoration: none;
}

.reservebtn{
  background-color: #CD5A3E;
  color: white;
  font-weight: 700;
  font-size: 1.7em;
  cursor: pointer;
  padding: 9px;
  margin: 0.6em 1em;
  height: 1.4em;
  width: 10em;
}

.reservebtn:hover{
  color: #CD5A3E;
  background-color: white;
}

.imageCarrousel{
  max-height: 27em;
  object-fit: cover;
}

.spanPrice{
  font-size: 28px;
  color: #CD5A3E;
}

.pPrice{
  color: #CD5A3E;
  margin-bottom: 0.5rem;
}

.priceDiv a {
  color: white;
}

.firstHr{
  width: 80%;
}






.containerSection{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3.5em;
}

.listServices {
  width: calc(50% - 10px); /* Ajusta el ancho según tus necesidades */
  margin-bottom: 10px;
}


.containerSectionOne{
  margin: 0 auto;
  max-width: 35em;
  text-align: left;
}

.containerSectionTwo{
  margin: 0 auto;
  max-width: 35em;
  text-align: left;
}

.containerSectionOne section{
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

.containerSectionOne section h3 {
  color: black;
  font-weight: 900;
  margin: 1rem 0;
}

.roomsD h3 div{
  display: flex;
  justify-content: space-between;
  height:300px;
}

.roomsDOne  {
margin: 1rem;
}

.roomsDOne img, .roomsDTwo img{

  margin-right: 1rem;
}

.roomsDTwo  {
  margin: 1rem;
  width: 500px;
}
.spanproperty{
  margin-right: 0.3rem;
}
.roomsDTwoBed{
  display: inline-block;
  margin-left: 3rem;
}

.roomsDOne img span {
  margin: 5rem;
}

.roomsDTwoBed{
  margin-left: 2rem;}


.spanServices{
  font-weight: bolder;
  margin-left: 0.3rem;
}


.containerSection{
  /* height: 600px; */
  margin-bottom:60px;
}


@media(max-width:600){
  .bigContainerDetail{
    width: 60%;
  }


}

.tittleSpan{
  background-color: #99997A;
  color: white;
  padding: 0 6px;
}

.headRev{
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.singleReview{
  max-width: 45%;
  padding: 20px;
  display: flex;
  background-color: rgb(247, 244, 232);
  border-radius: 7px;
}

.iconUserReview{
  width: 3em;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 1em;
}