.bigContainerDetail {
  background-color: rgb(252, 244, 235);
  margin: auto;
  margin-top: 3em;
  width: 60em;
}

.bigContainerDetail header{
  display: flex;
  padding: 2.5em;
  justify-content: space-between;
}

.priceDiv{
  background-color: #CD5A3E;
  border-radius: 0.5em;
  color: white;
  font-weight: 700;
  font-size: .7em;
  padding: 9px;
}


.tittleD{
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}

.location {
  color: gray;
  font-size: .7em;
  font-family: 'Lexend Deca';
  font-weight: 400;
  text-align: start;
}

.imageCarrousel{
  width: 100%;
}

.falseLine{
  height: 3px;
  background-color: #bd4e3391;
  width: 85%;
  margin: auto;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  border-radius: 1em;
}

.overviewRating{
  height: 11em;
  width: 80%;
  margin: auto;
  background-color: #EADCCF;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  height: 15em;
}

.overviewRating section{
  margin: auto;
  width: 50%;
  padding-left: 4em;
}

.ratingBox{
  margin: auto;
  height: 9em;
  width: 9em;
  background-color: #CD5A3E;
  border-radius: 10px;
}

.ratingBox p{
  color: white;
  font-size: 4em;
  padding-top: 0.5em;
  font-weight: 900;
}

.roomsService{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.roomsService section{
  width: 35%;
  background-color: #EADCCF;
  margin: 2em;
  border-radius: 1em;
  height: 25em;
}

.roomsService h3{
  font-size: 2.1em;
  margin-top: 1em;
}

.roomsD li{
  margin-top: 1.1em;
  font-size: 1.6em;
  text-align: start;
}

.roomsD img{
  width: 30px;
}

.servicesD li{
  font-size: 1.2em;
  text-align: start;
  padding-left: 2em;
  margin-bottom: 2px;
}

.imageRelative{
  position: relative;
}
.prevButton{
  width: 40px;
  height: 20px;
  position: absolute;
  top: 15em;
  left: .5em;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.prevButton img{
  width: 20px;
}

.nextButton{
  width: 40px;
  height: 20px;
  position: absolute;
  right: .5em;
  top: 15em;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.nextButton img{
  width: 20px;
}

.bigContainerDetail header p{
  font-size: 16px;
}

.bigContainerDetail header p:hover{
  color: #CD5A3E;
  cursor: pointer;
}

.paymentBox{
  height: 11em;
  width: 80%;
  margin: auto;
  background-color: #EADCCF;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  height: 15em;
  justify-content: space-evenly;
  align-items: center;
}

.paymentBox .priceDiv{
  background-color: #CD5A3E;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.7em;
  cursor: pointer;
  padding: 9px;
  margin: 0.6em 1em;
  height: 1.4em;
  width: 10em;
  text-align: center;
}

.reservationDays{
  border: none;
  height: 2em;
  width: 6em;
  text-align: center;
  border-radius: 1em;
}

.otroBoton{
  border: none;
  border-radius: 5px;
  background-color: #CD5A3E;
  height: 2.3em;
  margin: 1em;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.otroBoton:hover{
  color: #CD5A3E;
  background-color: white;
}

a{
  text-decoration: none;
}

.reservebtn{
  background-color: #CD5A3E;
  border-radius: 0.2em;
  color: white;
  font-weight: 700;
  font-size: 1.7em;
  cursor: pointer;
  padding: 9px;
  margin: 0.6em 1em;
  height: 1.4em;
  width: 10em;
}

.reservebtn:hover{
  color: #CD5A3E;
  background-color: white;
}

.imageCarrousel{
  max-height: 27em;
  object-fit: cover;
}