.ticketContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 92vh;
    /* background-color: #f0f0f0; */
  }
  
  .ticket {
    margin: auto;
    max-width: 35em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 3em;
    text-align: center;
  }
  
  .ticket h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ticketDetails {
    margin-bottom: 20px;
  }
  
  .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .buttonCapi {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .walletContainer {
    margin-top: 20px;
  }
  
  .btnReserveNow{
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }