.panelContainer {
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 500px;
  }

  .panelContainer h2{
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #EADCCF;
  }
  
  .userListContainer {
    max-height: 600px;
    overflow: auto;
    margin: 0;
    padding-top: 10px;
  }

  .userListContainer::-webkit-scrollbar{
    width: 7px;
  }

  .userListContainer::-webkit-scrollbar-thumb{
    background-color: #cd5b3e;
    border-radius: 5px;
  }

  .userList {
    list-style: none;
    padding: 0 10px;
    margin: 0;
  }
  
  .userListItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    /* background-color: #ebebeb; */
  }

  .userListItem div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  
  .userListItem img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .userListItem p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    margin-right: 20px;
    width: 160px;
  }

  .userListItem span{
    font-family: 'Lexend Deca';
    font-weight: 400;
    margin-right: 20px;
    width: 350px;
  }

  .deleteButton {
    background-color: transparent;
    width: 25px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .deleteButton img{
    width: 20px;
    height: 20px;
  }
  