.propertyPanel {
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 500px;
}

.propertyPanel h2{
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #EADCCF;
}

.properListContainer {
  max-height: 600px;
  overflow: auto;
  margin: 0;
  padding-top: 10px;
}

.properListContainer::-webkit-scrollbar{
  width: 7px;
}

.properListContainer::-webkit-scrollbar-thumb{
  background-color: #cd5b3e;
  border-radius: 5px;
}

.properList {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
.properListItemName{
  background-color: #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  /* box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.192); */
  border-radius: 5px;
}

.properListItemName p {
  font-family: 'Lexend Deca';
  font-weight: 500;
  /* margin-right: 10px; */
  width: 200px;
}

.properListItemName span{
  font-family: 'Lexend Deca';
  font-size: 1em;
  font-weight: 500;
  width: 380px;
  /* background-color: #cd5b3e; */
}

.properListItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  /* background-color: #ebebeb; */
}

.properListItem div{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

/* .properListItem img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
} */

.properListItem p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  margin-left: 10px;
  width: 200px;
}

.properListItem span{
  font-family: 'Lexend Deca';
  font-size: 1em;
  font-weight: 400;
  margin-right: 0px;
  width: 370px;
  /* background-color: #cd5b3e; */
}

.deleteButtonProper {
  background-color: transparent;
  width: 25px;
  border: none;
  color: white;
  cursor: pointer;
}

.deleteButtonProper img{
  width: 15px;
  height: 15px;
}