.maincontainer{
    width: 100vw;
}

.container {
    border: 1px solid black;
    max-width: 75vw;
}

.head {
    display: flex;
    justify-content: space-between;
}

.detailContainer {
    border: 1px solid black;
    border-radius: 0.7em;
    background-color: #e2e1e1;
    display: flex;
    height: 16em;
}

.detailContainer div{
    max-width: 50%;
}

.ratingBox{
    background-color: #549C8F;
    height: 9em;
    width: 20em;
    border-radius: 1em;
}

.division{
    display: flex;
}

.division div{
    /* max-width: 50%; */
}

.srvcContainer {
    border: 1px solid black;
    border-radius: 0.7em;
    background-color: #e2e1e1;
    height: 16em;
}

.srvcContainer div{
    /* max-width: 50%; */
}

.containerList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 14px;
}

.btn{
    background-color: #549C8F;
    border-radius: 1em;
}

.line{
    background-color: #549C8F;
    border: 2px solid #549C8F;
    margin: 1em 0 1em 0;
}
