.containerPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;

  font-family: 'Lexend Deca';
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.headLeft{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
}

.headRigth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  font-weight: 500;
}

.headRigth button{
  /* text-align: right; */
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(163, 163, 163, 0.911);
  font-family: 'Lexend Deca';
  font-size: 1em;
  font-weight: 500;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 5px 0px rgba(3, 3, 3, 0.233);
}

.headRigth button:hover{
  cursor: pointer;
  background-color: rgba(114, 114, 114, 0.747);
}

.image{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  height: 400px;
}

.imgOne{
  border-radius: 20px;
}

.image img{
  background-color: transparent;
  width: 90%;
  height: 100%;
  padding-right: 10px;
  /* border-radius: 1.4em; */
  
}

.sectionOne{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  /* margin-bottom: 10px; */
}

.sectionOne img{
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
  /* border-radius: 10px; */
}

.sectionTwo{
  width: 100%;
  
}
.sectionTwo img{
  width: 100%;
  height: 190px;
  padding: 0;
  /* border-radius: 10px; */
}
