.homeContainerMain {
  background-image: url('../../assets/landingImg.jpeg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 8em;
  /* background-position-y: 150%;
  background-position-x: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
}
.containerSections{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-width: 100%;

  margin: 0 auto;
  background-color: antiquewhite;
}

.aside{
width: 30%;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  background-color: hsl(29, 39%, 86%);
  padding-top: 10px auto 0;
  margin: 0 auto;
}

.calendarHome{
  width: 79em;
  padding-top: 4px;
}

.barritaFacha{
  margin: 0 auto;
  background-color: #EADCCF;
  width: 90em;
  height: 3em;
}

.headerHomePage{
  height: 250px;
}

.headerHomePage img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: 0px 53%;}

  .errorMessage{
    color: red;
    font-size: 2rem;
    display: none
;
  }

  errorMessageEmpty{
    display: block;
  }




  @media (max-width: 1200px){


    .containerSections{
      flex-direction: column;
    }

    .aside{
      width: 100%;
    }
   

    .calendarHome{
      width: auto;
     
    }
    .headerHomePage img, .headerHomePage{
      height: 150px;
      object-fit: cover;
      object-position: center center;
    }
  }

 