
.containerSections{
  display: flex;
  flex-direction: row;
}

.aside{
  width: 25vw;
  display: flex;
  justify-content: center;
  background-color: hsl(29, 39%, 86%);
  padding-top: 10px;
}
.calendarHome{
  width: 72vw;
  padding-top: 4px;
}