.containerCards{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px; */
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.containerTop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



@media (max-width: 750px){
  .containerTop{
    width: auto;
  }
}