.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 222, 222, 0.904);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Lexend Deca';

  /* width: 2s50px; */
  /* height: 500px; */
}


.image{
  /* height: 350px;
  width: 350px; */
  background-color: bisque;
  
}

