.containerEdit{
  display: flex;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
}

.bigContainer {
    border-radius: 10px;
    box-shadow: 0 7px 20px 5px #29292988;
    background-color: #EADCCF;
    /* width: 1000px; */
    /* height: 600px; */
    margin-top: 10px;
    padding: 3em;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title button {
    padding: 11px 95px;
    margin-left: 2em;
    font-size: 1em;
    font-family: 'Lexend Deca';
    font-weight: 500;
    border: none;
    border-radius: 0.2em;
    background-color: #CD5A3E;
    color: #fff;
}

.title button:hover {
  background-color: #b94225;
  cursor: pointer;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionOne{
  width: 50%;
  height: 480px;
  margin-left: 5%;
  margin-right: 5%;
}

.sectionOne p {
  font-size: 1.4em;
  font-family: 'Lexend Deca';
  text-align: left;
  margin-top: 5px;
}
.sectionOne input{
  display: flex;
  width: 95%;
  height: 30px;
  padding-left: 10px;
  font-size: 1em;
  font-weight: 500;
  border: none;
  outline: none;
}

.containerRooms{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectOne{
  width: 50%;
  flex-direction: row;
}

.selectTwo{
  width: 50%;
}

.roomSelect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-family: 'Lexend Deca';
}
.roomSelect label {
  margin-top: 10px;
}
.roomSelect select{
  color: #131313;
  font-size: .7em;
  cursor: pointer;
  outline: none;
}

.sectionTwo{
  width: 50%;
  height: 480px;
  margin-right: 5%;
}

.sectionTwo p {
  font-size: 1.4em;
  font-family: 'Lexend Deca';
  text-align: left;
  margin-top: 5px;
}
.sectionTwo textarea{
  border: none;
  outline: none;
  width: 405px;
  height: 150px;
  font-size: 1em;
  font-family: 'Lexend Deca';
  font-weight: 300;

}

.sectionTwo input{
  display: flex;
  width: 95%;
  height: 30px;
  padding-left: 10px;
  font-size: 1em;
  font-weight: 500;
  border: none;
  outline: none;
}

.selectServices select{
  color: #131313;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.available{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #b94225; */
}

.button {
  width: 100px;
  height: 33px;
  margin-left: 2em;
  font-size: 1em;
  font-family: 'Lexend Deca';
  font-weight: 500;
  border: none;
  border-radius: 0.2em;
  background-color: #CD5A3E;
  color: #fff;
}

.button:hover {
background-color: #b94225;
cursor: pointer;
}

.buttonSubmit {
  padding: 11px 95px;
  margin-left: 0 2em 3em ;
  font-size: 1em;
  font-family: 'Lexend Deca';
  font-weight: 500;
  border: none;
  border-radius: 0.2em;
  background-color: #CD5A3E;
  color: #fff;
}

.buttonSubmit:hover {
background-color: #b94225;
cursor: pointer;
}




