.mainContainer {
    border: 1px solid black;
    height: 80vh;
    width: 35vw;
    max-width: 500px;
    border-radius: .7rem;
    box-shadow: 0 7px 20px 5px #52525288;
    
}

.mainContainer header{
    padding: 16px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #333;
}

.mainContainer form{
    padding: 16px;
    margin-top: 10%;
}

.formGroup {
    margin: 0 1em 10px auto;
}


.formGroup label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}

.formGroup input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
}

