.containerFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 3rem;

}

.ctnFooter{
    height: 1300px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #EADCCF;    
    border-radius: 25px;
    padding: 2rem;
    text-align: left;
}

.ctnFooter h3{
    margin: 1rem;
    text-decoration: underline;
    text-align: center;
    font-family: sans-serif;
}

.ctnFooter h3 p{

line-height: 0.2rem;
letter-spacing: 0.1rem;
text-align: left;
}




@media (max-width: 1338px) {


    .ctnFooter{
        height: auto;
        width: 75%;
    }

    .ctnFooter div{

        height: auto
        

    }



}

@media (max-width: 600px){
    .ctnFooter{
        margin: 0 auto;
        width: 80%;
    }
}