.containerFilter{
  /* margin-top: 2px; */
  height: 30vh;
  background-image: url(../../assets/landingImg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 53%;
  background-position-x: 50%;
  overflow: hidden;
  /* position: relative; */
  display: flex;
  justify-content: center;

}

.filter {
  position: absolute;
  top: 10em;
  background-color: rgba(234, 220, 207, 0.9); /* Fondo con opacidad del 90% */
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.filter button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}

.filter button img{
  padding-bottom: 4px;
  width: 3em;
  /* filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(184deg) brightness(108%) contrast(96%); */
}

.filter button:hover{
  background-color: rgb(39, 139, 197);
  border-radius: 0.5em;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

