@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  background-image: url(../../assets/landingImg.jpeg);;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  font-family: 'Lexend Deca';
}

.headerLanding{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #EADCCF;
  height: 70px;
}
.link {
  padding: 0;
  margin: 0;
}
.headerLanding h1{
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 2rem;
  color: #1E1E23;
}

.headerLanding button{
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.8rem;
  margin-right: 2rem;
  width: 150px;
  background-color: #CD5A3E;
  border: #CD5A3E;
  color: white;
}


.sectionLanding {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 1px solid #EADCCF;
  background-color: rgba(234, 220, 207, 0.9); /* Fondo con opacidad del 90% */
  border-radius: 10px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.507); /* Sombra suave */
}


.sectionLanding h1{
  font-family: 'Tenor sans';
  font-size: 3rem;
  font-weight: 400;
}

.sectionLanding p{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 2rem;

}

.sectionLanding button{
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  width: 135px;
  background-color: #CD5A3E;
  border: #CD5A3E;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {



  .headerLanding h1 {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .headerLanding button {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin-right: 1rem;
  }

  .sectionLanding { /* Cambio aquí */
    padding: 2rem;
    height: auto;
    width: 50%;
  }

  .sectionLanding h1 {
    font-size: 2rem;
  }

  .sectionLanding p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sectionLanding button {
    font-size: 1rem;
    padding: 0.8rem;
  }
}