.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/rooms.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  font-family: 'Lexend Deca';
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1{
  padding-top: 20px;
  padding-left: 30px;
  color: white;
  font-weight: 500;
  text-shadow: 4px 4px 2px black;
}

.header button{
  margin-top: 30px;
  padding: 1rem;
  margin-right: 30px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: 'Lexend Deca';
  font-weight: 500;
  font-size: 1em;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

.header button:hover{
  background-color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 11vw;
  width: 80vw;
  color: white;
}

.section h1{
  font-size: 3.3em;
  font-weight: 500;
  text-shadow: 4px 4px 2px black;
  padding-bottom: 20px;
}

.section p{
  font-size: 2.5em;
  font-weight: 400;
  text-shadow: 3px 3px 3px black;
  padding-bottom: 40px;
}

.section button{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
}

.section button:hover{
  background-color: rgba(252, 252, 252, 0.9);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  font-size: 1.4em;
}

.footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer li { 
  padding-left: 20px;
}

.footer a {
  text-decoration: none;
  color: black;
}