.mainContainer {
    background-color: #EADCCF;
    max-width: 440px;
    border-radius: .7rem;
    box-shadow: 0 7px 20px 5px #52525288;
    
}

.mainContainer header{
    color: #333;
    padding: 16px;
    margin-top: 2em;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
}

.mainContainer form{
    padding: 16px;
    margin-top: 10%;
}

.formGroup {
    margin: 0 1em 10px auto;
}


.formGroup label {
    display: block;
    font-size: 1em;
    color: #333;
    font-weight: 900;
    margin-bottom: 1px;
    text-align: start;
    margin-left: 2em;
}

.formGroup input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
}

.btnLogin {
    padding: 11px 115px;
    margin: 1px;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    background-color: #CD5A3E;
    color: #fff;
    cursor: pointer
}

.btn:hover {
    background-color: #ccc;
    color: #333;
    font-weight: 500;
}

.btnCreateAcc{
    background-color: #99997A;
    padding: 12px 90px;
    margin: 13px;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    color: white;
    cursor: pointer
}

.small{
    font-size: 0.77em;
    color: #99997A;
    padding-bottom: 1em;
}