.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #727272;
  max-width: 100%;

  font-family: 'Lexend Deca';
}

.link{
  text-decoration: none;
  color: #fdfdfd;
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
}

/* .link:hover{
  color: #FFA69E;
} */

