.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #727272;
  max-width: 100%;

  font-family: 'Lexend Deca';
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;

}

.link{
  text-decoration: none;
  color: #fdfdfd;
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10px;
}


